

.aiForm {
    background-color: #FAFAFA;
}

.questionContainer {

   height: auto;
   min-height: 100vh;
   display: flex;
   justify-content: center;
}

.questionForm {
   padding: 25px;
   max-width: 70vw;

}

.questionTitle {
   padding: 25px;
}