

body {
    background: linear-gradient(to right, rgb(103, 58, 183), rgb(81, 45, 168));
    /* background: linear-gradient(to right, rgb(103, 58, 183) 60%, #3c4179); */
    /* color: white; */
}

.switchContainer {
    /* width: 15px; */
    padding: 0;
    margin: 0;
}

.form-switch {
    margin: 0;
}
