.App {
    margin-top: 70px;
}

body {
    background: linear-gradient(to right, rgb(103, 58, 183), rgb(81, 45, 168));
    /* background: linear-gradient(to right, rgb(103, 58, 183) 60%, #3c4179); */
    color: white;
}