.dropdown-assignee {
    display: inline-block;
    vertical-align: middle;
}

.addToggle {
    z-index: 9999;
}

.TAButton {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: RGB(82, 46, 169);
    /* color: white; */
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    font-size: 30px;
    color: rgb(103, 58, 183);

}

.TAButton:hover {
    transform: translateY(-5px);
    transition: transform 0.1s ease 0s;
}


