.task-container {
    margin-top: 100px;
    background-color: white;
    height: 800px;
}

.task-col{
    border: black 1px solid;
    /* height: 600px; */
}
.table {
    margin-bottom: 400px;
}
.fa-circle-plus {
    font-size: 28px;
    color: rgb(103, 58, 183);
}

.task-priority {
    color: white;
    padding: .2rem 1rem;
    text-transform: uppercase;
}

.priority-high {
    background-color: red;
}

.priority-medium {
    background-color: yellow;
}

.priority-low {
    background-color: green;

}
.dropIcon:hover {
    color: rgb(99, 99, 99);
}
.dropIcon {
    color: rgb(180, 180, 180);
    border-radius: 0px;
    border: none;
    float: right;
}
