.task-container {
    margin-top: 100px;
    background-color: white;
    overflow: auto;
    border-radius: 15px;
}

.taskRow {
  margin: 25px;
  padding: 25px;
}
.taskTable{
    border: rgb(209, 209, 209) 1px solid;
    margin: 5px;
    border-radius: 25px;
    /* height: 600px; */
}

.taskTitle {
  font-weight: 500;
}

tbody {
  z-index: 0;
}

table,
thead,
tbody,
tr {
  display: block;
}
thead {
  margin-right:1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
tr {
  display: table;
  table-layout: fixed;
  width:100%;
  /* border: 1px solid black; */
}
th {
  /* border: 1px solid black; */
}

tbody {
  height: 550px;
  overflow: auto ; /* eventually : scroll;*/
}

.taskStatus {
  text-align: center;
}


.assigneeCont {
  display: flex;
  /* border: 1px solid rgb(255, 0, 0); */
  align-items: center;
  justify-content: right;
}

.assigneeContRow {
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
}

.user-circle {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    height: 28px;
    width: 28px;
    margin: -5px;
    border-radius: 50%;
    text-align: center;
    background-color: blue;
    color: white;
    transition: 0.1s ease 0s;
    cursor: pointer;
}

.user-circle:hover {
    transform: translateY(-5px);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #886293 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #886293;
    border-radius: 16px;
    border: 1px none #ffffff;
  }

.fa-circle-plus {
  /* transition: all 0.2s ease-out; */


}

.fa-circle-plus:hover:before {
  /* transform: scale(2.15); */
}

.task-priority {
    color: white;
    padding: .2rem 1rem;
    text-transform: uppercase;
}

.priority-high {
    background-color: red;
}

.priority-medium {
    background-color: yellow;
}

.priority-low {
    background-color: green;

}
.dropIcon:hover {
    color: rgb(99, 99, 99);
}
.dropIcon {
    color: rgb(180, 180, 180);
    border-radius: 0px;
    border: none;
    float: right;
}

.toggleDD {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:hover {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:after {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:focus {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}

.dropdown-menu.show {
    border-radius: 25px;
}

.taskDatePickCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid purple; */
}

.react-datetime-picker__wrapper,
.react-date-picker__wrapper,
.react-date-picker,
.react-time-picker,
.react-time-picker__wrapper {
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}


.taskDatePick:focus {
  border-bottom: 2px solid black;
}

.priLvlRow {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.priLvlCol {
  display: flex;
  align-items: center;
  justify-content: center;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.TAMCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }
} */