.task-container {
    margin-top: 100px;
    background-color: white;
    overflow: auto;
    border-radius: 15px;
}

.taskRow {
  margin: 25px;
  padding: 25px;
}

.taskTable{
    border: rgb(209, 209, 209) 1px solid;
    margin: 5px;
    border-radius: 25px;
    /* height: 600px; */
}
.table {
    overflow: auto;
    border-radius: 15px;

}
.fa-circle-plus {
    font-size: 28px;
    color: rgb(103, 58, 183);
}

.task-priority {
    color: white;
    padding: .2rem 1rem;
    text-transform: uppercase;
}

.priority-high {
    background-color: red;
}

.priority-medium {
    background-color: yellow;
}

.priority-low {
    background-color: green;

}
.dropIcon:hover {
    color: rgb(99, 99, 99);
}
.dropIcon {
    color: rgb(180, 180, 180);
    border-radius: 0px;
    border: none;
    float: right;
}

.toggleDD {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:hover {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:after {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}
.toggleDD:focus {
    border: none;
    border-radius: 25px;
    background-color: rgb(13, 110, 253) ;
}

.dropdown-menu.show {
    border-radius: 25px;
}

