.landing {
    padding: 0px;
    overflow: hidden;
    overflow-y: hidden;
}

.landingContainer {
    background-color: #013A6B;
}

.row1Container {
    background-image: -webkit-linear-gradient(-90deg,RGB(89, 50, 173) 52%, #A997DF 93%);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.wordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    z-index: 10;

}
.landingPrefixText {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    text-shadow: 1px 2px rgb(23, 23, 23);
    font-size: 32px;
    color: #e9e9e9;

}

.pd {
    font-family: 'Asap', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-shadow: 2px 3px rgb(23, 23, 23);
    color: #e9e9e9;
    text-align: center;
}

.description {
    max-width: 560px;
    color: white;
}

.landingTagline {
    z-index: 10;
}

.landingNewUser {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landingUserRow{
    /* border: 5px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120vh;
    z-index: 10;
}

.landingUserCol{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.ContentContainer {
    background-image: -webkit-linear-gradient(-90deg,#A997DF 5%, #e7e7e7 20%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    /* background-color: #A997DF; */
    gap: 30px 50px;
}

.productDescriptionCont {
    /* border: 1px solid red; */
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px 50px;
    /* align-items: center; */
    /* width: 45vh; */
}


.productDescription {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    /* float: left; */
    width: 60vh;
    justify-content: center;
    /* align-items: center; */

    z-index: 10;
}

.productDescriptionIcon{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdIconCont{
    border:10px solid black;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdIconInner {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdIcon {
    font-size: 70px;
}

.productDescriptionText {
    /* margin: 0px; */
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    z-index: 10;
    background-color: white;
}


.landingImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
}


.landingImageRow {
    display: flex;
    justify-content: center;
    align-items: center;
}


.landingImageCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingImage{

}

.landingImage1{

}
.landingImage2{

}
.landingImage3{

}