.LoaderCont {
    display: flex;
    justify-content: center;
    /* position: fixed; */
    top: 50%;
    left: 6%;
}
.LoaderRow {
    display: flex;
    justify-content: center;
}
.LoaderCol {
    display: flex;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(103, 58, 183);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }