

.TADD {
    border: rgb(209, 209, 209) 1px solid;
    -webkit-box-shadow: 21px 24px 18px -13px rgba(156,156,156,0.79);
    -moz-box-shadow: 21px 24px 18px -13px rgba(156,156,156,0.79);
    box-shadow: 21px 24px 18px -13px rgba(156,156,156,0.79);
    border-radius: 25px;

}

.TAI  {
    padding: 0px 15px;
    transition: all .2s ease-in-out;
    text-align: left;

}

.TAI:hover  {
    border:rgb(212, 212, 212) 0.5px solid;
    border-radius: 10px;
    font-weight: 500;
    padding: 0px 15px;
    text-overflow:ellipsis;
    z-index: 9999;
    transform: scale(1.1);

}
.TAI:focus  {
    border-radius: 10px;
    background-color: rgb(229, 226, 226);
    color: black;

}