.memAddDD {
    float:right;


}

.test {
    border: black 1px solid;
    margin: 25px;
}

#memAddSearch:hover {
    transform: none  !important;
    border: none !important;
}

#projectLeadText {
    font-size: small;
    color: rgb(163, 161, 161)
}