.dashboard-table {
    margin-top: 50px;
}

.dashboard-table-header {
    font-family: "Lato", "sans-serif";
}

.dashboard-table-body td {
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}