.productDescriptionContainer {
    background-image: -webkit-linear-gradient(-90deg,#A997DF 5%, #e7e7e7 20%);
    display: flex;
    flex-direction: row;
}

.ContentContainerProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productDescriptionCont {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.5);
    z-index: 10;
    background-color: #e7e7e7;
}

.descImageCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.productDescriptionText {
    margin: 0px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.descHeadline{
    /* height: 8vh; */
    /* border: 1px solid black; */
    /* text-shadow: 1px 1px 2px #c9c9c9; */
    /* display: flex; */
    /* align-items: normal; */
    /* justify-content: center; */
}


.deskBody{
    /* border: 1px solid red; */
    height: 15vh;
    text-shadow: 1px 1px 2px #c9c9c9;
}

.landingImageCont {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.landingImageRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}



.landingImageCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width:auto;
    text-align:center;
    padding:5px;
}

.LandingImage{
    padding: 10px;
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    /* display: block; */
    height:300px;
    width:450px;
    object-fit: fill;
}


@media (max-width: 768px) {

    /* Adjustments for smaller screens */

    .productDescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .productDescriptionCont {
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
    }


    .deskBody{
        /* border: 1px solid red; */
        height: auto;
        text-shadow: 1px 1px 2px #c9c9c9;
    }

    .LandingImage {
    height: 200px;
    width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 991px) {

    .productDescriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .deskBody{
        /* border: 1px solid red; */
        height: auto;
        text-shadow: 1px 1px 2px #c9c9c9;
    }

    .productDescriptionCont {
      margin: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
    }

    .LandingImage {
    height: 200px;
    width: 100%;
    }

}